@import url("reset.css");
/* This is a custom font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #450920;
  --color-secondary: #5F522F;
  --color-background: #f0e7dd;
  --color-accent: #3B4919;

  --border-radius: 1.75rem;

  --font-titles: "Parkinsans", sans-serif;
  --font-body: "Parkinsans", "Roboto", system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
}

/* Layout */
main {
  padding: 1rem;
  }

header {
  padding: 1rem;
  text-align: left;
}

main,
header,
nav {
  max-width: 60rem;
  margin: 0 auto;
}

article,
nav {
  padding: 1rem 0;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1.5rem 0;
  align-items: left;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

p {
  font-size: 1.1em;
}

footer {
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 1rem 0; /* Add some space around the button */
}

.contact-button {
  background-color: var(--color-accent);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
}

.contact-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

img {
  border-radius: var(--border-radius);
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}
